NUXT_PUBLIC_I18N_BASE_URL=""

BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET=""

MICROSOFT_CLIENT_ID=""
MICROSOFT_CLIENT_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

FACEBOOK_CLIENT_ID=""
FACEBOOK_CLIENT_SECRET=""