@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", system-ui, sans-serif;
  }

  input[type="checkbox"]:focus,
  input[type="radio"]:focus {
    box-shadow: none;
  }

  input[type="checkbox"] {
    animation: none;
    @apply transition duration-300 ease-in-out;
  }

  input[type="checkbox"]:checked {
    animation: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 20 20'><path fill='%23F4F4F5' d='M16.707 5.293a1 1 0 0 1 0 1.414l-8 8a1 1 0 0 1-1.414 0l-4-4a1 1 0 0 1 1.414-1.414L8 12.586l7.293-7.293a1 1 0 0 1 1.414 0Z'/></svg>");
  }

  [data-theme="dark"] input[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='0.5em' height='0.5em' viewBox='0 0 20 20'><path fill='%2327272A' d='M16.707 5.293a1 1 0 0 1 0 1.414l-8 8a1 1 0 0 1-1.414 0l-4-4a1 1 0 0 1 1.414-1.414L8 12.586l7.293-7.293a1 1 0 0 1 1.414 0Z'/></svg>");
  }

  input[type="checkbox"][data-check="some"]:checked {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 20 20'><path fill='%23F4F4F5' d='M3 10a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H4a1 1 0 0 1-1-1Z'/></svg>");
  }

  [data-theme="dark"] input[type="checkbox"][data-check="some"]:checked {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 20 20'><path fill='%2327272A' d='M3 10a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H4a1 1 0 0 1-1-1Z'/></svg>") !important;
  }

  .input-group-bordered {
    @apply input-group !rounded-lg overflow-hidden;
  }

  .input-group-bordered > input, .select {
    @apply !outline-0 !ring-0;
  }

  .input-group-bordered > span {
    @apply !px-2 justify-center;
  }

  .add-border {
    @apply border-0 focus:ring-2 transition focus:ring-primary disabled:cursor-not-allowed disabled:bg-neutral disabled:opacity-75;
  }
}

@layer components {
  .btn-outline {
    @apply border-2;
  }
  .btn {
    @apply text-base-100;
  }
  .btn-sm {
    @apply leading-5;
  }
  .btn-ghost {
    @apply text-neutral;
  }
  .select, .input {
    @apply outline outline-offset-2 outline-2 border-0 !ring-0 !transition-all;
  }
  .select-sm {
    @apply !leading-[0.999rem];
  }
  .toggle {
    @apply !bg-none !border-2;
  }
}

body {
  scrollbar-color: #27272a #f4f4f5;
}

[data-theme="dark"] body {
  scrollbar-color: #f4f4f5 #27272a;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}

[data-theme="dark"] ::-webkit-scrollbar-thumb {
  background: #f4f4f5;
}

::-webkit-scrollbar-track {
  background: #f4f4f5;
}

[data-theme="dark"] ::-webkit-scrollbar-track {
  background: #27272a;
}

.wave-shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-shape svg {
  position: relative;
  display: block;
  width: 125%;
  height: 96px;
}